[submodule "vendor/github.com/aws/aws-sdk-go"]
	path = vendor/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go
[submodule "vendor/github.com/lsegal/gucumber"]
	path = vendor/github.com/lsegal/gucumber
	url = https://github.com/lsegal/gucumber
[submodule "vendor/github.com/smartystreets/goconvey"]
	path = vendor/github.com/smartystreets/goconvey
	url = https://github.com/smartystreets/goconvey
[submodule "vendor/github.com/smartystreets/assertions"]
	path = vendor/github.com/smartystreets/assertions
	url = https://github.com/smartystreets/assertions
[submodule "vendor/github.com/jtolds/gls"]
	path = vendor/github.com/jtolds/gls
	url = https://github.com/jtolds/gls
[submodule "vendor/github.com/jacobsa/fuse"]
	path = vendor/github.com/jacobsa/fuse
	url = https://github.com/kahing/fusego
[submodule "vendor/github.com/Azure/go-autorest"]
	path = vendor/github.com/Azure/go-autorest
	url = https://github.com/Azure/go-autorest/
[submodule "vendor/github.com/Azure/azure-pipeline-go"]
	path = vendor/github.com/Azure/azure-pipeline-go
	url = https://github.com/Azure/azure-pipeline-go/
[submodule "vendor/github.com/Azure/azure-sdk-for-go"]
	path = vendor/github.com/Azure/azure-sdk-for-go
	url = https://github.com/Azure/azure-sdk-for-go
[submodule "vendor/github.com/Azure/azure-storage-blob-go"]
	path = vendor/github.com/Azure/azure-storage-blob-go
	url = https://github.com/Azure/azure-storage-blob-go/
[submodule "vendor/github.com/google/uuid"]
	path = vendor/github.com/google/uuid
	url = https://github.com/google/uuid
[submodule "vendor/github.com/sirupsen/logrus"]
	path = vendor/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus
[submodule "vendor/github.com/shirou/gopsutil"]
	path = vendor/github.com/shirou/gopsutil
	url = https://github.com/shirou/gopsutil/
[submodule "vendor/github.com/kahing/go-xattr"]
	path = vendor/github.com/kahing/go-xattr
	url = https://github.com/kahing/go-xattr
[submodule "vendor/github.com/kardianos/osext"]
	path = vendor/github.com/kardianos/osext
	url = https://github.com/kardianos/osext
[submodule "vendor/github.com/mitchellh/go-homedir"]
	path = vendor/github.com/mitchellh/go-homedir
	url = https://github.com/mitchellh/go-homedir
[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
[submodule "vendor/github.com/sevlyar/go-daemon"]
	path = vendor/github.com/sevlyar/go-daemon
	url = https://github.com/sevlyar/go-daemon
[submodule "vendor/github.com/urfave/cli"]
	path = vendor/github.com/urfave/cli
	url = https://github.com/urfave/cli
[submodule "vendor/contrib.go.opencensus.io/exporter/ocagent"]
	path = vendor/contrib.go.opencensus.io/exporter/ocagent
	url = https://github.com/census-ecosystem/opencensus-go-exporter-ocagent
[submodule "vendor/github.com/census-instrumentation/opencensus-proto"]
	path = vendor/github.com/census-instrumentation/opencensus-proto
	url = https://github.com/census-instrumentation/opencensus-proto/
[submodule "vendor/github.com/mattn/go-ieproxy"]
	path = vendor/github.com/mattn/go-ieproxy
	url = https://github.com/mattn/go-ieproxy
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "vendor/go.opencensus.io"]
	path = vendor/go.opencensus.io
	url = https://github.com/census-instrumentation/opencensus-go
[submodule "vendor/github.com/dgrijalva/jwt-go"]
	path = vendor/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go
[submodule "vendor/github.com/dimchansky/utfbom"]
	path = vendor/github.com/dimchansky/utfbom
	url = https://github.com/dimchansky/utfbom
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf/
[submodule "vendor/github.com/grpc-ecosystem/grpc-gateway"]
	path = vendor/github.com/grpc-ecosystem/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway/
[submodule "vendor/github.com/hashicorp/golang-lru"]
	path = vendor/github.com/hashicorp/golang-lru
	url = https://github.com/hashicorp/golang-lru/
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/google.golang.org/genproto"]
	path = vendor/google.golang.org/genproto
	url = https://github.com/google/go-genproto
[submodule "vendor/google.golang.org/api"]
	path = vendor/google.golang.org/api
	url = https://code.googlesource.com/google-api-go-client
[submodule "vendor/gopkg.in/ini.v1"]
	path = vendor/gopkg.in/ini.v1
	url = https://gopkg.in/ini.v1
[submodule "vendor/golang.org/x/sync"]
	path = vendor/golang.org/x/sync
	url = https://go.googlesource.com/sync
[submodule "vendor/gopkg.in/check.v1"]
	path = vendor/gopkg.in/check.v1
	url = https://gopkg.in/check.v1
[submodule "vendor/github.com/kr/pretty"]
	path = vendor/github.com/kr/pretty
	url = https://github.com/kr/pretty.git
[submodule "vendor/github.com/kr/text"]
	path = vendor/github.com/kr/text
	url = https://github.com/kr/text.git
